*, h1, h2, h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}
h1 {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.046em;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  color: #666D89;
}

.section__title {
  font-size: 30px;
  font-weight: 900;
  color: #666D89;
  letter-spacing: -0.01em; 
}

.section__text {
  padding-top: 17px;
    
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.0084em;  
  text-align: justify;
  color: #767E9E;
}

/*===============================
header
=================================*/

.header {
  padding-top: 29px;
  padding-bottom: 29.5px;

  background-color: #2D303A;
  border-bottom: 6px solid #323746; 
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.star {
  color: #C9605C;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-self:flex-end;

  padding-bottom: 3px;
}

.menu__link {
  position: relative;
  margin-left: 32px;

  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.035em;

  transition: color .2s linear;
}

.menu__link:after {
  content: "";

  position: absolute;
  top: 6px;

  width: 2px;
  height: 2px;
  margin-left: 16px;

  background-color: #494E62;
  border-radius: 50%;
}

.menu__link:last-child:after {
  display: none;
}

a.menu__link:hover {
  color: #C9605C;
}

/*===============================
slider
=================================*/

.slider {
  background-color: #F06C64;
  border-bottom: 5px solid #EA676B;
}

.slider__inner {    
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 53px;
  padding-bottom: 59px;
}

.arrow {
  cursor: pointer;
  transition: transform .2s linear;
}

.arrow:hover {
  transform: scale(1.2);
}

.slider__inner img {
  display: block;
}

.iPhone__vert {
  margin-right: 16px;
}

/*===============================
services
=================================*/

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #FFFFFF;
}

.services__inner {
  padding-top: 60px;
}

.services__features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 42px;
  padding-bottom: 31px;
}

.features__item {
  position: relative;

  width: 32%;
  margin-bottom: 30px;
  padding-left: 80px;
}

.feature__icon {
  position: absolute;
  top: 5px;
  left: 0;
}

.feature__title {
  margin-bottom: 9px;

  font-size: 18px;
  font-weight: 900;
  color: #666D89;
}

.feature__text {
  height: 63px;
  
  font-size: 12px;
  text-align: justify;
  line-height: 21px;
  color: #767E9E;

  overflow: hidden;
}

/*===============================
portfolio
=================================*/

.portfolio {
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
}

.portfolio__inner {
  padding-top: 60px;
  padding-bottom: 47px;
}

.portfolio__tags {
  margin-top: 11px;
}

.tag {
  margin-right: 6px; 
  padding: 3px 7px;

  font-weight: 400;
  font-size: 12px;
  color: #767E9E;
  letter-spacing: -0.01em;
  text-decoration: none;

  border: 1px solid #767E9E;
  border-radius: 5px;

  transition: all .3s linear;
}

.tag:hover {
  color: #DEDEDE;

  border: 1px solid #DEDEDE;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 21px;
}

.portfolio__item {
  width: 23.5%;
  margin-bottom: 17px;

  transition: all .2s linear;
}

.portfolio__item:nth-child(n+13) {
  display: none;
}

.portfolio__item:hover {
  transform: scale(1.05);
}

/*===============================
about
=================================*/

.about {
  background-color: #F2F2F2;
   border-bottom: 6px solid #FFFFFF;
}

.about__inner {
  padding-top: 60px;
  padding-bottom: 68px;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 45px;
}

.employee__item {
  width: 32%;
}

.employee__photo {
  margin-bottom: 10px;
}

.employee__name {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee__text {
  margin-top: 8px;
  margin-bottom: 22px;

  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  letter-spacing: -0.009rem;
  text-align: justify;
}

/*===============================
quote
=================================*/

.quote {
  background-color: #F06C64;

  border-bottom: 6px solid #EA676B;
}

.quote__inner {
  padding-top: 60px;  
}

.section__title--quote {  
  color: #f0d8d9; 
}

.section__text--quote {
   color: #f0d8d9; 
}

.contact {
  display: flex;
  padding-top: 43px;
  padding-bottom: 32px;
}

form { 
   min-width: 68%;
}

.input__item {
  width: 96.8%;
  height: 39px;
  margin-bottom: 15px;
  padding: 12px 14px;

  letter-spacing: -0.1px; 
  color: #f0d8d9;
 
  background-color: #D6564F;
  border: none;
  border-radius: 6px;

  outline: none;
}

.input__item:focus{
  border: 1px solid #C14D47;
  box-shadow: 1px 1px 2px 0 #C14D47;
}

.input__item::placeholder {
  font-size: 12px;
  color: #f48c8f;
  font-weight: 400;
}

.textarea {
  height: 202px;
  margin-bottom: 7px;
}

.textarea::placeholder {
  letter-spacing: -1.6px; 
}

.contact__info{

}

.contact__title {
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 600;
  letter-spacing: -0.1px;
}

.contact__text {
  padding-top: 7px;

  letter-spacing: -0.1px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
}

.contact__details {
  padding-top: 20px;
  
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
}

.contact__item {
  display: block;

  text-decoration: none;
  color: #f0d8d9;
}

.contact__item:hover{
  text-decoration: underline;
}

.contact__icon {
  display: inline-block;
  margin-right: 11px;
  width: 13px;
  height: 13px;
}

.button {
  padding: 5px 15px;

  font-size: 14px;
  letter-spacing: 0.01px;
  color: #B3403A;
  font-weight: 300;

  border: none;
  border-radius: 3px;

  -webkit-box-shadow: 3px 3px 6px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 6px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 6px -4px rgba(0,0,0,0.75);

  cursor: pointer;

  transition: transform 0.2s linear;
}

.button:hover {
  transform: scale(1.1);
}

.location {
  background-image: url(assets/img/contact/location.svg) ;
  background-repeat: no-repeat;
  background-position: center bottom; 
}

.phone {
  background-image: url(assets/img/contact/phone.svg) ;
  background-repeat: no-repeat;
  background-position: center bottom; 
}
.mail {
  background-image: url(assets/img/contact/mail.svg) ;
  background-repeat: no-repeat;
  background-position: center bottom; 
}

/*===============================
footer
=================================*/

.footer {
  background-color: #2D303A; 
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 25px;
}

.copyright {
  font-size: 12px;
  color: #666d89;
  font-weight: 400;
  letter-spacing: -0.01px;
}

/*===============================
social
=================================*/

.social {
  display: flex;
  align-self: center;
}

.social__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;

  border: 1px solid #666D89;
  border-radius: 50%;  

  transition: all .3s linear;
}

.social__icon:last-child {
  margin-right: 0;
}

.social__icon:hover {
  border: 1px solid #FF8F88;
  border-radius: 50%;  
}

.facebook {
  background-image: url(assets/img/social/facebook.svg) ;
  background-repeat: no-repeat;
  background-position: center; 

  transition: all .2s linear;
}

.facebook:hover {
  background-image: url(assets/img/social/facebook_hover.svg) ;
}

.google {
  background-image: url(assets/img/social/google.svg);
  background-repeat: no-repeat;
  background-position: center; 

  transition: all .2s linear;
}

.google:hover {
  background-image: url(assets/img/social/google_hover.svg);
}

.twitter {
  background-image: url(assets/img/social/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  
  transition: all .2s linear;
}

.twitter:hover {
  background-image: url(assets/img/social/twitter_hover.svg);
}

.linkedin {
  background-image: url(assets/img/social/linkedin.svg);
  background-repeat: no-repeat;
  background-position: center; 

  transition: all .2s linear;
}

.linkedin:hover {
  background-image: url(assets/img/social/linkedin_hover.svg);
}