*,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 100%;
  max-width: 1020px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/*===============================
slider
=================================*/

.slider {
  margin-top: 95px;
}

.slider__inner {
  display: flex;
  overflow: hidden;
}

.slider_red {
  background-color: #F06C64;
  border-bottom: 5px solid #EA676B;
}

.slider_blue {
  background-color: #648BF0;
  border-bottom: 5px solid #5B7DD6;
}

.slide {
  display: flex;
  flex-shrink: 0;
  position: relative;

  justify-content: center;
}

.phone_1 {
  background-color: red;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.phone_2 {
  background-color: yellow;
  width: 100px;
  height: 50px;
}

.iPhone__vert {
  margin-right: 16px;
  position: relative;
}


.arrow {
  cursor: pointer;
  transition: transform .2s linear;
}

.arrow:hover {
  transform: scale(1.2);
}

.item {
  width: 50px;
  height: 50px;
}

.contain {
  display: flex;
  overflow: hidden;
}

.item {
  flex-shrink: 0;
}

.item:first-child {
  background-color: red;
}

.item:last-child {
  background-color: yellow;
}